<footer>
  <span class="copy">&copy; 2017 - Jonathan Spengeman</span>
  <ul class="social-nav">
    <li><a href="{{ site.url | append: '/atom.xml' }}"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
    <li><a href="mailto: {{ site.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
    <li><a href="{{ site.stackoverflow_url }}"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
    <li><a href="{{ site.github_url }}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    <li><a href="{{ site.instagram_url }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  </ul>
</footer>
